html{
    font-size: 100%;   
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    border: 0;
}

body{
    font-family: var(--font-inter);
    color: var(--dark-text);
    background-color: var(--dark-bg);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

