.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__title h1{
        font-size: 1.5rem;
        margin-bottom: .25rem;
    }
    &__title span{
        color: var(--dark-subtext);
    }
}