.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__title h1{
        font-size: 1.7rem;
        margin-bottom: .25rem;
    }
    &__title span{
        color: var(--subtext);
    }
    
}
.header__toggle{
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    justify-content: center;
    
    label[for="dark"]{
        margin-right: .3125rem;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.5rem;
    }
    &__wrapper{
        width: 3rem;
        height: 1.5rem;
        position: relative;
        background: var(--toggle);
        border-radius: 0.75rem;
        
        #light, #dark{
            opacity: 0;
            width: 1.5rem;
            height: 1.5rem;
            margin: 0px -0.125rem;        
        }   
        #light:checked ~.header__toggle__button{
            left: calc(100% - 1.3125rem);
        }
    }
    &__button{
        position: absolute;
        left: 0.1875rem;
        top: 0.1875rem;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 50%;
        background: var(--bg);
        transition:all 250ms ease-in-out;
    }
}
// @media (input:checked) {
//     body{
//         background: var(--light-bg);
//         color: var(--light-text);
//     }
//     .card{
//         background: var(--light-card-bg);
//     }
//     .header__title span{
//         color: var(--light-subtext);
//     }
//     .header__toggle__wrapper{
//         background: var(--light-toggle);
//     }
// }